@using GHB_D1.Models
<style>
    .setNavFont {
        font-size: 12.5px;
        /*font-size: smaller;*/
        font-weight: 400;
        color: #ffffff;
    }
</style>
<div style="text-align: center; font-size: 12px; float:left;">
    <div class="col-md-12">
        <a name="" class="setNavFont headPath" href="@Url.Action("Index","Administrator")" style="color: white !important;"><i class="fa fa-home fa-color-orange"></i>หน้าหลัก</a>
        @*<label class="setNavFont"> / </label>
        <a name="" class="setNavFont headPath" href="@Url.Action("NdMainUserAttrib","Administrator")"><i class="fa fa-home fa-color-orange"></i>Config Parameters</a>
        <label class="setNavFont"> / </label>
        <label class="setNavFont">New Config Parameters</label>*@
    </div>
</div>