@model GHB_D1.Models.ADM1001ViewModel
@{
    Layout = "~/Views/Shared/_LayoutV1.cshtml";
}

<!-- Bootstrap -->
<script type="text/javascript" src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js'></script>
<link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css'
      media="screen" />
<!-- Bootstrap -->
<!-- Bootstrap DatePicker -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Bootstrap DatePicker -->
<script type="text/javascript">
    $(function () {
        $('#SelectedDate').datepicker({
            changeMonth: true,
            changeYear: true,
            format: "dd/mm/yyyy",
            language: "tr"
        });
    });
</script>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            $(function () {
                alert("@ViewBag.Message");
            });
    </script>
}

<style>
    .navbar-inverse {
        background-color: #ff850c;
        border-color: #ff850c;
        min-height: 65px;
    }

        .navbar-inverse .navbar-brand {
            color: #ffffff;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: #ffffff;
        }
</style>
<div class="row">

    <div class="col-4">
        <table>
            <tr>
                <td colspan="2">
                    <h2 class="header-topic" style="color:orange">รายงาน ADM1001</h2>
                </td>
            </tr>
            <tr>
                <td colspan="4" style="text-align: left;">
                    <hr class="hr-border">
                </td>
            </tr>
            <tr>
                <td>
                    <table width="200%" class="table-condition-padding">
                        @using (Html.BeginForm("Index", "ADMReport", FormMethod.Get))
                        {
                            <tr>
                                <td colspan="3">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="35%" style="text-align: right">
                                    <label for="FrDate">วันที่พิมพ์&nbsp;</label>&nbsp;:&nbsp;
                                </td>
                                <td>
                                    @Html.TextBoxFor(x => x.T_DATE, new { @readonly = "readonly", @class = "form-contro", @id = "SelectedDate" })                                   
                                </td>
                            </tr>

                        }
                    </table>
                </td>

                <td>   <button type="button" class="btn btn-warning" style="padding-top: 5px;margin-top: 20px;height: 28px;">Print</button></td>
            </tr>

        </table>

    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="check1" name="option1" value="something" checked>
        <label class="form-check-label">Option 1</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Default checkbox
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
            Checked checkbox
        </label>
    </div>






