@using GHB_D1.Models
@model footerDetails

<div style="text-align:center">
    <div>

        Copyright © Government Housing Bank
    </div>
    <div style="margin-top:0px;">
        BUILD:(1.13.2-20250409)(1.18.0-20250409)[SIT]

    </div>
</div>