/* mnu btn */
.mnu-btn {
    width:28px;
    height:22px;
    position:fixed;
    top:25px;
    left:0;
    display: inline-block;
    vertical-align: top;
    line-height: 0;
    z-index:5006;
    cursor: pointer;
    -webkit-transform: translate3d(40px,0,0);
    transform: translate3d(40px,0,0);
    transition: margin .5s cubic-bezier(.48,0,.12,1),-webkit-transform .5s cubic-bezier(.48,0,.12,1);
    transition: transform .5s cubic-bezier(.48,0,.12,1),margin .5s cubic-bezier(.48,0,.12,1);
    transition: transform .5s cubic-bezier(.48,0,.12,1),margin .5s cubic-bezier(.48,0,.12,1),-webkit-transform .5s cubic-bezier(.48,0,.12,1);
}

.icw-bar {
    display: block;
    position: absolute;
    height:3px;
    width: 100%;
    background: #FFF;
    border-radius:0;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    
}
.mnu-btn span:nth-child(1) { top: 0;}
.mnu-btn span:nth-child(2) { top:8px;}
.mnu-btn span:nth-child(3) { top:16px;}

/* Pushy */
.pushy-submenu-closed .pushy-link { opacity: 0;}
.pushy-submenu-open ul {
    max-height: 1000px;
    visibility: visible;
}
.pushy-submenu-open .pushy-link { opacity: 1;}
.pushy-submenu-open a::after,
.pushy-submenu-open button::after {
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
}
.pushy-open-left { overflow: hidden; height: 100%;}
.pushy-open-left .navmain { opacity: 0;}
.pushy-open-left .icw-bar { background: #ff850d;}

.device-mobile.pushy-open-left { overflow: hidden; height: 100%;}
.isTouch.pushy-open-left { overflow: hidden; height: 100%;}

.navmain-group { 
    position: relative;
    height: calc(100vh);
    /*height: calc(100vh - 150px);
    border-bottom: 2px solid #ff850d;*/
    background-color: #FFF; 
    padding:0 40px 30px;
}   
.navmain-group.lastgroup { 
    height:150px;
    padding:30px 40px; 
    border-bottom: 0; 
    background-color:#f0f0f0;
}
.navmain-group .logo-pushy { 
    width: 80px; 
    text-align: center; 
    margin:12px auto 40px;
    -webkit-transition: ease-in-out .3s;
    -moz-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}
.navlist-primary li { 
    display: block;
    font-size:18px;
    padding: 10px 0;
    font-family: 'db_heaventbold';
    border-bottom: 1px solid #eee;
}
    .navlist-primary li a {
        color: #333;
        text-decoration: none;
    }
    .navlist-primary li a:hover,
    .navlist li a:hover {
        color: #ff850c;
        text-decoration: none;
    }

.navlist { position: absolute; bottom:20px; }
.navlist li a { 
    font-family: 'db_heaventmed';
    font-size:22px;
    color: #777;
}
.navlist li a,
.navlist-primary li a {
    -webkit-transition: color ease-in-out .2s;
    -o-transition: color ease-in-out .2s;
    transition: color ease-in-out .2s;
}
.header-mb { display: none;}

.showOverlay .dropdown-overlay { opacity: 1; visibility: visible;}
.dropdown-overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:105;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: all .25s ease;
}

.pushy-open-left .mnu-btn span:nth-child(1),
.dropdown-is-active.mnu-btn span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top:-3px;
    left:0px;
}
.pushy-open-left .mnu-btn span:nth-child(2),
.dropdown-is-active.mnu-btn span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
.pushy-open-left .mnu-btn span:nth-child(3),
.dropdown-is-active.mnu-btn span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top:17px;
    left:0px;
}
