@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutV3.cshtml";
}
<style>
    

    /**/
    .center-image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Full viewport height */
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    #wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        /*margin-top: -200px;*/
    }

    .footer {
        position: relative;
        margin-top: 0!important;
        height: 0px!important;
        clear: both;
        padding-top: 20px;
    }

    #footerLogin {
        text-align: center;
        margin-left: 260px;
    }

</style>

<div class="col-lg-12" style=" display: flex; height:650px;">
    <div class="col-md-1" style="width:330px;">&nbsp;</div>
    <div class="col-md-10">
        <div class="center-image">
            <!-- Page content -->

            <div class="fadeIn first" style="margin-top:-109px;">
                <div>
                    <img src="~/images/logo-ghb.png" class="" id="GHB-logo-sign" alt="GHB-logo-sign">
                </div>
                <div style=" margin-left: -144px;">
                    <span style="font-size: 95px; position: absolute; color: #ff850c;">GHB ATM<span style="font-size:93px;font-weight:600;">/</span>CDM</span>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-1">&nbsp;</div>
</div>

